{% extends 'base.html' %}

{% block title %} Viewblog {% endblock title %}

{% block blogactive %} active {% endblock blogactive %}

{% block body %}
<div class="container my-3">
    {% if messages %}
    <div class="alert alert-dismissible fade show" role="alert">
        {% for message in messages %}
        <strong> {{ message }}</strong>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}

    <h2>Articles on Blogverse</h2>

    {% for post in allPosts %}
    <div class="card shadow-sm mb-4">
        {% if post.file %}
        <div class="text-center bg-light p-3 border-bottom">
            {% if ".mp4" in post.file.url|lower or ".mov" in post.file.url|lower %}
            <video width="100%" style="max-height: 250px; max-width: 400px; border-radius: 8px;" controls>
                <source src="{{ post.file.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {% else %}
            <img src="{{ post.file.url }}" alt="{{ post.title }}" class="rounded shadow-sm" style="max-height: 200px; max-width: 100%; object-fit: cover;">
            {% endif %}
        </div>
        {% endif %}
        <div class="card-body">
            <div class="head">
                <h5 class="card-title">{{ post.title }}</h5>
            </div>
            <p class="card-text mb-auto">{{ post.content | safe | truncatechars:200}}</p>
            <div class="my-2">
                <a href="{% url 'blogPost' slug=post.slug %}" role="button" class="btn btn-primary">Continue reading</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    {% endfor %}
</div>
{% endblock %}